.book-form {
    width: 80%;
    margin: 0 auto;
    border-radius: 7px;
    padding: 1.5rem;
}

.form-top,
.form-bottom {
    display: flex;
}

/* .form-bottom {} */

.book-form input {
    width: 50%;
    display: block;
    padding: .35rem 1.35rem;
    margin: .65rem .5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ccf2f4;
}

.save-btn {
    width: 10%;
    display: block;
    margin: 1rem 8rem 0 auto;
    padding: .5rem;
    border: 1px solid #2f5d62;
    border-radius: 20px;
    color: lightgray;
    background-color: #2f5d62;
}

input:focus {
    border: none;
    outline: none;
    border: 1px solid transparent;
}

.book-form span {
    display: block;
    color: red;
}

.myCardImg {
    height: 10rem;
    object-fit: cover;
}

.btn-disabled {
    cursor: auto;
    width: 10%;
    margin: 1rem 8rem 0 auto;
    padding: .5rem;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 20px;
    color: rgb(216, 209, 209);
}