.admin {
    display: flex;
    min-height: 90vh;
}

.left {
    flex: 0 0 20%;
    background-color: #eaffd0;
}

.left h4 {
    padding-left: 4rem;
}

.right {
    flex: 1;
}

.admin-options div {
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 1.10rem;
}

.admin-options div:hover {
    background-color: rgb(176, 235, 176);
}