.book-list {
    transition: all 1s;
}

.book-list small {
    flex: 1;
    font-weight: bold;
}

.book-list small:nth-child(3) {
    text-align: center;
}

.book-list small:nth-child(2) {
    padding: 0 4rem 0 2rem;
}

.book-list small:last-child {
    text-align: end;
    font-size: 1.15rem;
}

.deleteIcon {
    cursor: pointer;
    width: 15%;
    height: 2.2rem;
}

.list {
    background-color: #ccf2f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem;
    border-radius: 6px;
}

@media only screen and (max-width: 1000px) {

    .deleteIcon {
        width: 2.2rem;
        height: 2.2rem;
    }
}

@media only screen and (max-width: 800px) {

    .list {
        flex-direction: column;
        padding: .75rem 0;
        line-height: 2.2;
    }

    .book-list small:nth-child(3) {
        text-align: left;
    }

    .book-list small:nth-child(2) {
        padding: 0;
    }

    .book-list small:last-child {
        text-align: left;
    }

}