* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  background-color: #f4f9f9;
  font-family: 'Kanit', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

.brand {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0;
  font-weight: 700;
}

.nav-option {
  font-family: 'Josefin Sans', sans-serif;
  padding-right: 6rem;
}

a {
  margin: 0 !important;
  padding: 0 !important;
}

h4 {
  margin-bottom: 0 !important;
}

.navigation {
  background-color: #a4ebf3;
  font-weight: 600;
}

.navigation h3 {
  padding-left: 7.25rem;
}

.my-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  background-color: #f4d160;
  border-radius: 5px;
  transition: all .2s;
}

.login-btn:hover {
  background-color: #ffee93;
}

.user-img {
  height: 2.5rem;
  border-radius: 50px;
}

@media only screen and (max-width: 1200px) {
  .navigation h3 {
    padding-left: 2.5rem;
  }

  .nav-option {
    padding-right: .75rem;
  }
}

@media only screen and (max-width: 570px) {
  .navigation h3 {
    padding-left: .5rem;
  }
}