* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  background-color: #f4f9f9;
  font-family: 'Kanit', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

.brand {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0;
  font-weight: 700;
}

.nav-option {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  margin: 0 !important;
  padding: 0 !important;
}

h4 {
  margin-bottom: 0 !important;
}

.navigation {
  background-color: #a4ebf3;
  font-weight: 600;
}

.my-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}